<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All suites">
    <suite-files>
        <suite-file path="src/test/java/suites/createAccount.xml"/>
        <suite-file path="src/test/java/suites/login.xml"/>
        <suite-file path="src/test/java/suites/languaje.xml"/>
        <suite-file path="src/test/java/suites/search.xml"/>
        <suite-file path="src/test/java/suites/addCart.xml"/>
    </suite-files>
</suite>